In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv("HR_comma_sep.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
subdf = df[['satisfaction_level','salary']]
subdf.head()

   satisfaction_level  salary
0                0.38     low
1                0.80  medium
2                0.11  medium
3                0.72     low
4                0.37     low

In [6]:
salary_dummies = pd.get_dummies(subdf.salary, prefix="salary")

In [7]:
df_with_dummies = pd.concat([subdf,salary_dummies],axis='columns')

In [8]:
df_with_dummies.head()

   satisfaction_level  salary  salary_high  salary_low  salary_medium
0                0.38     low            0           1              0
1                0.80  medium            0           0              1
2                0.11  medium            0           0              1
3                0.72     low            0           1              0
4                0.37     low            0           1              0

In [9]:
df_with_dummies.drop('salary',axis='columns',inplace=True)
df_with_dummies.head()

   satisfaction_level  salary_high  salary_low  salary_medium
0                0.38            0           1              0
1                0.80            0           0              1
2                0.11            0           0              1
3                0.72            0           1              0
4                0.37            0           1              0

In [10]:
X = df_with_dummies
X.head()

   satisfaction_level  salary_high  salary_low  salary_medium
0                0.38            0           1              0
1                0.80            0           0              1
2                0.11            0           0              1
3                0.72            0           1              0
4                0.37            0           1              0

In [13]:
y = df.left
y

0        1
1        1
2        1
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.3)

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [16]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
model.score(X_test,y_test)

0.7800952380952381